/* 绿荫草场主题、荣耀典藏主题、暗黑之子主题加QQ讨论群972435319、1139183756后私聊群主获取，获取后将主题放到themes文件夹根目录即可 */


:root .vue-admin-better-theme-default {
  --menu-item-color: var(--ti-base-color-brand-1);
  --menu-item-bg-active: var(--ti-base-color-brand-7);
  --menu-item-color-active: var(--ti-base-color-brand-1);

  --menu-item-sub-bg: var(--ti-base-color-brand-1);
  --menu-item-sub-color: var(--ti-base-color-common-9);
  --menu-item-sub-bg-active: var(--ti-base-color-brand-2);
  --menu-item-sub-color-active: var(--ti-base-color-brand-7);

  --secondary-color: #17a2b8;
}