//字体颜色
$glr_color_1:#1D80FF;
$glr_color_2:#2ED299;
$glr_color_3:#FEAB41;
$glr_color_4:#181C27;

//标签背景色
$glr_color_10:#DCF9EF;
$glr_color_11:#FFEAD0;
$glr_color_11:#FFEAD0;
$glr_color_12:#E3E3E3;
$glr_color_13:#696969;